<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- member_id -> memberId -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- 쿼리 수행 결과를 DTO에 자동 매핑하기 위해 DTO 검색 -->
	<typeAliases>
		<package name="com.portfolio.www.auth.dto" />
		<package name="com.portfolio.www.board.dto" />
		<package name="com.portfolio.www.contact.dto" />

	</typeAliases>

	<!-- 개별로 setting 하는 방법 <typeAlias alias="Employees" type="com.edu.dto.Employees" 
		/> -->

</configuration>